html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  font-family: "Roboto";
}

html,
body {
  height: 100%;
  width: 100%;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn{
    background-color: hidden;
    border: none;
    text-decoration: none;
    background-color: var(--c-primary);
    color: var(--c-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 50px;
}
.btn:disabled{
    background-color: var(--c-grey);
}

.form-input-blank {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
}

.form-input{
    background-color: var(--c-light-grey);
    border: none;
    padding: 10px 20px;;
    border-radius: 30px;
}

.nav-item{
   color: var(--c-white);
    text-decoration: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 20px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.nav-item:hover{
    background-color: #4B99FF;
}
.nav-item-active {

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 7px solid var(--c-white);
    border-top: 7px solid transparent;
}

.dropdown-nav-item{
    color: var(--c-white);
    text-decoration: none;

    align-items: center;

    display: flex;
    padding: 15px 0 15px 20px;
}

.dropdown-nav-item:hover{
    background-color: #0C3B7A;
}

.link {
    text-decoration: none;
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px 10px;
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.Button{
  border-radius: 30px;
}

.hoverDelete{

  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.hoverDelete:hover{
  background-color: rgba(0, 139,251,.8);
  cursor: pointer;
}

.hoverDelete span{
  display: none;
  opacity: 1;
}

.hoverDelete:hover span{
  display: initial;
}

.calendar-item{ 
  background-color: white;
  height: 100%;
  width: 100%;
  border: 1px solid var(--c-light-grey);
  min-height: 140px;
  box-sizing: content-box;
}
